@{
    ViewBag.Title = "Főoldal";
}

<div id="alertMessage" class="alert alert-danger messageBoxes @TempData["postDeleted"]">
    A posztodat töröltük!
</div>

<div id="alertMessage" class="alert alert-danger messageBoxes @TempData["postEdited"]">
    A posztodat szerkesztve elmentettük!
</div>

<h1>Írd meg te is életed első blog posztját!</h1>
